USE [master]
GO
/****** Object:  Database [ATMore]    Script Date: 9/16/2016 10:15:12 AM ******/
CREATE DATABASE [ATMore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATMore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ATMore.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ATMore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ATMore_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATMore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATMore]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 9/16/2016 10:15:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [bigint] IDENTITY(1,1) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Password] [varchar](250) NULL,
	[FacebookID] [varchar](250) NULL,
	[GoogleID] [varchar](250) NULL,
	[Sex] [int] NULL,
	[Birthdate] [varchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ActiveCode]    Script Date: 9/16/2016 10:15:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ActiveCode](
	[GenerateID] [bigint] IDENTITY(1,1) NOT NULL,
	[Phone] [varchar](20) NULL,
	[ActiveCode] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_ActiveCode] PRIMARY KEY CLUSTERED 
(
	[GenerateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Logging]    Script Date: 9/16/2016 10:15:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Logging](
	[LogID] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountID] [bigint] NULL,
	[Token] [varchar](50) NULL,
	[LogDate] [datetime] NULL,
	[ExpireDate] [datetime] NULL,
 CONSTRAINT [PK_Logging] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Market]    Script Date: 9/16/2016 10:15:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Market](
	[PackageID] [bigint] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Latgitude] [varchar](250) NULL,
	[Longitude] [varchar](250) NULL,
	[Time] [datetime] NULL,
	[Amount] [money] NULL,
	[AccountID] [bigint] NULL,
	[CreatedDate] [datetime] NULL,
	[Modifydate] [datetime] NULL,
	[Status] [int] NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_Market] PRIMARY KEY CLUSTERED 
(
	[PackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[ActiveCode] ADD  CONSTRAINT [DF_ActiveCode_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Logging] ADD  CONSTRAINT [DF_Logging_LogDate]  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Market] ADD  CONSTRAINT [DF_Market_Amount]  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[Market] ADD  CONSTRAINT [DF_Market_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
USE [master]
GO
